p{font-size: 1.1rem;}                
                    
                    
                    /*navbar, heading*/
#header{background-image: url(./slike/pozadine-logo/dizajn1.png);
background-size: cover;
background-position: center;}

.header-h1-div{text-align: center;
padding: 2% 0% 3%;}

.jezik-link{
    padding-left: 12px;
}

.index-sshkd-logo{
    height: 40px;
}

.navbar{background-color: transparent !important;}

.navbar-desno-container{display: flex;
align-items: center;
position: absolute;
top:auto;
bottom: auto;
right: 12px;}

.hrv-hrv-link, .en-en-link{color: #0C8A00;}

.container-flex-navbar-2{display: none;}

#main-slika img{width: 40%;}
#main-slika{text-align: center;}

@media(max-width:1250px){#main-slika img{width: 50%;}}
@media(max-width:1050px){#main-slika img{width: 55%;}}
@media(max-width:900px){#main-slika img{width: 65%;}}
@media(max-width:800px){#main-slika img{width: 70%;
padding: 5% 0;}
}
@media(max-width:700px){#main-slika img{width: 80%;
padding: 8% 0;}}
@media(max-width:600px){#main-slika img{width: 90%;
padding:10% 0;}}
@media(max-width:500px){#main-slika img{
    padding:20% 0;}}

@media(max-width:992px){
    #navbar{position: relative;}
    .index-sshkd-logo{order: 1;}
    .navbar-nav1{
        display: flex;
    justify-content: left;
    align-items: top;}
    .navbar-desno-container{display: none;}
    .container-flex-navbar-2{display: inline-flex;
    align-items: center;
    position: absolute;
    right:12px;
    top:8px;
    }}


.bckg-nonmain{background-image: url(./slike/pozadine-logo/dizajn3legit.png);
    background-size: cover;
    background-position: bottom;}

.header-h1-div{color: white;}

                            /*INDEX - MAIN - STO JE SISK */

.sto-je-sisk{
    padding: 5% 8% 3%;
    text-align: center;
}

.stojesisk-p{
margin-bottom: 3%;
font-size: 2rem;
font-weight: 500;}

.kol-main-stojesisk{
    text-align: center;
padding: 3% 5%;
font-size: 1rem;
line-height: 1.7;
}

.ikona-flex-item{border-radius: 50%;
    padding: 5%;
    margin-bottom: 13%;
    width: 7em;
    height: 7em;
    background-color: #0C8A00;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    }

.prijavise-a-main{color: #0C8A00;
text-decoration: none;}
.prijavise-a-main:hover{color: #005000;}

@media(max-width:1120px){
    .sto-je-sisk{padding:7% 4% 3%;}
    .kol-main-stojesisk{padding:1% 3%;}}

@media(max-width:830px){.sto-je-sisk{font-size: 0.9rem;}}

@media(max-width:768px){.ikona-flex-item{
    margin-bottom: 5%;
    margin-top: 5%;}
    .sto-je-sisk{padding:5% 20% 12%;}}

    @media(max-width:590px){.ikona-flex-item{
    margin-top: 7%;}
    .sto-je-sisk{padding:5% 10% 8%;}}

    @media(max-width:450px){.ikona-flex-item{
        margin-bottom: 5%;
        margin-top: 5%;}
        .sto-je-sisk{padding:5% 6% 12%;}}

                            /*INDEX - MAIN - datum, fri sudjelovanje */

.datum-zelena-p{background-color: #0CC640;}

.datum-zelena-p .row{width: 100%;
margin: 0;
padding: 0;}

.col-flex-fri-datum{display: flex;
    text-align: center;
    flex-direction: column;
justify-content: center;
align-items: center;
color: white;
}

#carouselExampleInterval{padding: 0; margin: 0;}

.bold-p-main{font-weight: 600;}

.col-datum-fri-tekst{padding: 5% 7%;}
.datum-zelena-p p {font-size: 1.2rem;
line-height: 1.8;}

.col-carousel{display: flex;
align-items: end;}

@media(max-width:1430px){.col-datum-fri-tekst{padding:5% 4%;}}
@media(max-width:1430px){.col-datum-fri-tekst{padding:4% 3%;}
.datum-zelena-p p{line-height: 1.5;
font-size: 1.1rem;}}
@media(max-width:1430px){.col-datum-fri-tekst{padding:4% 3%;}
.datum-zelena-p p{line-height: 1.5;
font-size: 1.1rem;}}
@media(max-width:1080px){.col-datum-fri-tekst{padding:3% 2%;}
.datum-zelena-p p{line-height: 1.5;
font-size: 1.05rem;}}
@media(max-width:992px){.col-datum-fri-tekst{padding:5% 10%;}
.datum-zelena-p p{line-height: 1.8;
font-size: 1.1rem;}}
@media(max-width:550px){.col-datum-fri-tekst{padding:5% 7%;}
.datum-zelena-p p{line-height: 1.8;
font-size: 1rem;}}

                            /*karta  */

.karta{padding: 5% 9%;}
iframe{width: 80%;}

.karta .col-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.karta p {font-size: 1.3rem;}

@media(max-width:1150px){.karta p{font-size: 1.2rem;}
.karta{padding: 7% 5%;}
iframe{width: 90%;}}
@media(max-width:768px){.col-karta{text-align: center;}
iframe{width: 100%;}
.karta p{font-size: 1.2rem;}
.karta{padding: 10% 8% 8%;}
.col-karta{padding-bottom: 8%;}}

@media(max-width:700px){.karta p{font-size: 1.1rem;}}
@media(max-width:650px){.col-karta{padding-bottom: 5%;
}
iframe{padding: 8% 0;}
.karta{padding: 10% 5% 8%;}
.karta p{font-size: 1rem;}}


                            /* main - rokovi - javi se */
.rokovi-pitanja .row{
    display: flex !important;
    justify-content: center;}

.rokovi-pitanja .col {background-color: #0cc640;
color: white;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
padding: 3%;
margin: 3%;
border-radius: 6%;
width: 25%;
min-width: 300px;}


.rokovi-pitanja i{padding-bottom: 5%;}

.rokovi-pitanja{padding: 3% 9% 5%;
font-size: 1.3rem;}

.rokovi-pitanja p{font-size: 1.2rem;}

.flex-rokovi-pitanja{display: flex;
flex-direction: row;
}

.flex-item1{display: flex;
flex-direction: column;
justify-content: center;
align-items: center;}

.flex-rokovi-pitanja div{padding: 0% 5%;}

@media(max-width:1250px){
    .rokovi-pitanja{padding: 3% 2% 5%;}
}
@media(max-width:550px){.rokovi-pitanja p{font-size: 1.1rem;}
.rokovi-pitanja .col{padding: 5%;
    margin: 5% 2%;}
}



                            /*o nama   */


.div-o-nama{padding: 5% 25% 5%;}

.div-o-nama img {width: 100%;
padding-bottom: 10%;}
.img-buttons-o-nama{text-align: center;}
.content-o-nama{padding-bottom: 5%;}

.prosli{padding: 6% 15% 6%;
    margin: 0 auto;
text-align: center;}
.red-gumbeki{
margin: auto;
width: 70%;
font-family:Arial, Helvetica, sans-serif;}
.col-gumbeki{margin-top: 3%;}

@media(max-width:1230px){.div-o-nama{padding: 5% 17% 5%;}}
@media(max-width:850px){.div-o-nama{padding: 5% 11% 5%;}
.div-o-nama p{font-size: 1rem;}
}
@media(max-width:750px){.div-o-nama{padding: 5% 4% 5%;}}


@media(max-width:1200px){
    .red-gumbeki{width:80%;}
    }
    @media(max-width:800px){
    .red-gumbeki{width: 100%;}
}
    
    @media(max-width:600px){.red-gumbeki{width: 100%;}
    .prosli{padding: 6% 3%;}}
    
    @media(max-width:460px){.btn-stari-sisk-link{width: fit-content;
    font-size: 10px;}
    .col-gumbeki{padding: 0;}
    }
    

                            /*prijaveeee*/

.forma-div{text-align: center;}
.pravila-div{padding: 5% 25% 5%;}
.pravila-div p{font-size: 1.1rem;}

.pravila-div a{color: #0C8A00;
text-decoration: none;}
.pravila-div a:hover{color: #005000;}

@media(max-width:1230px){.pravila-div{padding: 5% 17% 5%;}}
@media(max-width:850px){.pravila-div{padding: 5% 11% 5%;}
.pravila-div p{font-size: 1rem;}
}
@media(max-width:750px){.pravila-div{padding: 5% 4% 5%;}}

                            


                            /*predavaci*/

.mali-flex-predavaci{display: flex;
flex-direction: column;
align-items: center;
justify-content: center;}

.slika-predavac{border-radius: 50%;}

.ime-predavac{font-size: 1.3rem;
font-weight: 600;}



                            /*sponzori  */

.zahvala-sponzorima p {padding: 2% 10% 5%;}
.col-sponzori{display: flex;
justify-content: center;
align-items: center;}
.slike-sponzori{width: 230px;
    margin:15%;}
.main-sponzori{text-align: center;}
.main-sponzori h2 {margin: 0 auto 2%;
padding-top: 2%;}
.main-sponzori > div {padding: 3% 10% 2%;}
/* #zlatni{background-color: #168D38;}
#srebrni{background-color: #45AC34;} */
#zlatni h2 {color:#168D38;}
#srebrni h2 {color: #45AC34;}
#broncani h2 {color:#0CC640;}
#srebrni img, #broncani img {margin: 7%;}



@media (max-width:1200px){
    .slike-spozori{width:180px;}
}
@media (max-width:950px){
    .slike-sponzori{width:160px;
    margin:8%;}
    .zahvala-sponzorima p {padding: 2% 6% 5%;}
}
@media(max-width:700px){
    .zahvala-sponzorima p {padding: 3% 2%;
        font-size: 0.9rem;}
    .main-sponzori > div {padding: 5% 5% 5%;}
    .main-sponzori h2 {margin: 0 auto 4%;
        padding-top: 3%;}
    
}


                /* medija */
#medija-main{padding: 4% 15% 5%;}
.poster-div{text-align: center;}
.poster-div img {width: 65%;}
.poster-div a {text-decoration: none;
color: #45AC34;}
.poster-div .col-tekst {display: flex;
    flex-direction: column;
justify-content: center;}
.poster-div a:hover{color: #168D38;}


                            /* footer   */

#footer{background-color: #0C8A00;
        color:white;
        padding:6% 20%;}
        
.ikona {padding-right: 7%;
    margin-bottom:8%;
margin-top: 3%;}
        
.ikona:hover{color:#0C5000 !important;}
        
.red-footer{margin: 5% 0;}
        
.dka{text-align: right;
        padding-right:10%;}
        
.p-footer-dka{font-size:1.25rem;
        font-weight:470;}

@media(max-width:1120px){
    #footer{padding:4% 8%;}
}

@media(max-width:820px){
    #footer{padding:4% 3%;}
}

@media(max-width:576px){
    .p-footer-dka{text-align: left;}
    .dka{text-align: left;}
    #footer{padding:3% 2%;}
}


